hostname Router-JARTEL

# Interface ke jaringan lokal (LAN)
interface eth0
 ip address 192.168.1.1 255.255.255.0
 no shutdown

# Interface ke jaringan internet (WAN)
interface eth1
 ip address 10.10.10.1 255.255.255.0
 no shutdown

# Default Gateway
ip route 0.0.0.0 0.0.0.0 10.10.10.254

# update dari branch dini